*{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#github {

    top: 10px;
    right: 10px;
    float : left;
    padding: 10px; 
    
    box-sizing: content-box;
}
    

.navbar{
    position: fixed;
    background-color: rgb(0, 255, 157);
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 100;
}
    



.navbar ul{
    float : left;
    list-style: none;
    margin: 0px;
    padding: auto;
    


}
.navbar::after {
    content: "";
    display: table;
    clear: both;
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px;
    padding: 23px 10px;
    font-size: 20px;
    
    
    
}
.navbar ul li a {
    color: black;
    text-decoration: none;

    padding: 10px;


}
.navbar ul li a:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.6s;
}
#logo{
    content-visibility: hidden;
    float : right;
    padding: 10px; 
    
    box-sizing: content-box;
}
#logo:hover{
    content-visibility: visible;
}
body{
    background-color: rgb(46, 46, 46);
    
}

#start{
    color: white;
    padding-top: 200px;
}
p{
    color:white;
    font-size: 20px;
}
h2{
    color:white;
}

li{
    color:white;
}
a{
    color:white
}

.parallax{
    background-image: url("Images/Epic.gif");
    background-size: contain;
    background-attachment: fixed;
   
    background-attachment: center;
    background-repeat: no-repeat;
   
   
    z-index :-1;
    background-position :center;


}

.parallax2{
    background-image: url("Images/jeff.gif");
    min-height:500px;

    background-attachment: fixed;
    background-attachment: center;
    background-repeat: no-repeat;
    background-size:cover;
    z-index: -1;

}

.parallax3{
    background-image: url("Images/discord.gif");
    min-height:500px;

    background-attachment: fixed;
    background-attachment: center;
    background-repeat: no-repeat;
    background-size:cover;
    z-index: -1;

}
.parallax4{
    background-image: url("Images/cap.png");
    background-attachment: fixed;
    background-attachment: center;
    background-repeat: no-repeat;
    background-size:contain;
    min-width: 1000px;

    z-index: -1;

}

audio {
    opacity: 0;
    transition: opacity 0.3s;
}
audio:hover {
    opacity: 1;
}